.emoji-picker-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 25px;

}

.epr-category-nav {
    display: none !important;
}

.emoji-default {
    color: var(--light-text);
    font-size: 18px;
    text-align: center;
    margin: 10px;
}

emoji-picker {
    --num-columns: 8;
    --emoji-size: 1.5rem;
    --background: #ffffff;
    --border-radius: 10px;
    /* --border-color: #05769e; */
    --border-size: 2px;
    --category-emoji-size: 0;
    --category-font-size: 0;
    --category-font-color: transparent;
    --recommendation-emoji-size: 0;
    --recommendation-font-size: 0;



    .nav {
        display: none;
    }

    --emoji-font-family: 'nunito'
}